= "Hallo #{@user.login},"

Dein Account wurde erfolgreich aktiviert. Du kannst jetzt aktiv bei rails-praxis mitmachen:

Hier ist die URL:
= @url

Wir freuen uns auf Deine Teilnahme

freundliche Grüsse
das rails-praxis Team
