Dein Account wurde erstellt.

Username:
= "Login: #{@user.login}"

Das Passwort ist verschlüsselt gespeichert und kann dir deshalb nicht per Mail zugeschickt werden.

Bitte öffne den folgenden Link um die Aktvierung abzuschliessen

= @url

freundliche Grüsse
das rails-praxis Team
