%h1
  Listing blas
%table
  %tr
  - for bla in @blas
  %tr
    %td
      = link_to 'Show', bla
    %td
      = link_to 'Edit', edit_bla_path(bla)
    %td
      = link_to 'Destroy', bla, :confirm => 'Are you sure?', :method => :delete
  - end
%br/
= link_to 'New bla', new_bla_path
