body {
  
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5; 
}

/* --------------- IDs
---------------------------------------------*/

#header {
  position: relative;
  border: solid #8b8ba2;
  border-width: 1px 1px 0 1px;
  margin-bottom: 0; 
  background: #ddd;
}

#header h1 {
  margin-top: 10px;
  margin-left: 10px;
}
#login_box {
 text-align: right;
}
#login_box .links {
  padding: 5px 10px;
}
#login_form {
  padding: 10px;
  margin: 0;
  background: #ccc;
}
#login_form form {
  padding: 0;
  margin: 0;
}
#login_form label {
  display: inline;
}

#search form {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

#search form input {
  border: 1px solid #333;
  height: 1.5em;
}

#navigation {
  padding: 5px 10px;
  float: left;
}

#main {
  border: solid #8b8ba2;
  border-width: 0 1px;
  background: #eee;
  
}

#content {
  background: #fff;
  
  margin-left: 300px; 
  padding: 10px 20px; 
}

#sidebar {
  background: #eee;
  margin: 0;
  padding: 10px;
  margin-bottom: 1em;
  color: #333;
  float: left;
  width: 280px; 
  
}

#footer {
  background: #ddd;
  text-align: right ;
  border: solid #8b8ba2;
  border-width: 0 1px 1px 1px;
  padding: 5px 10px;
  color: #333;
}
#footer p {
  margin: 0;
}





/* --------------- Classes
---------------------------------------------*/

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;   
  margin: 0;       
}


/* --------------- Headers
---------------------------------------------*/

h1, h2 {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-weight: normal;
  color: #333;
}

h1 {
  font-size: 3em;
  margin: 0 0 0.5em 0; 
  line-height: 1em;
  padding: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}




/* --------------- Sidebar Navigation
---------------------------------------------*/

ul.selection {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
 
ul.selection li {
  border-bottom: 1px solid #fff;
  margin: 0;
}
  
ul.selection li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #901216;
  /* border-right: 10px solid #508fc4;
  /* background-color: #2175bc; */
  color: #fff;
  text-decoration: none;
  width: 100%;
}

html>body ul.selection li a,
html>body #navigation ul li a {
  width: auto;
}

ul.selection li a:hover {
  border-left: 10px solid #D41716;
  /* border-right: 10px solid #5ba3e0;
  /* background-color: #2586d7; */
  color: #fff;
}

 
    
/* --------------- Main Navigation
---------------------------------------------*/

#navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
} 

#navigation ul li {
  margin: 0;
  padding: 2px 10px 5px 0px;
  display: inline;
}

#navigation ul li a {
  padding: 0.6em 5px;
  color: #333;
  text-decoration: none;
}

#navigation ul li a:hover {
  
  color: #333;
} /* background-color: #901216; */


/* --------------- Forms ---------------------------------------------*/

form p { 
  margin: 0;
  margin-bottom: 0.5em;
}

label { 
  display: block; 
  width: 6em; 
  font-weight: bold;
  padding: 0 0.2em; 
  color: #222E54;
}

textarea {
  margin-bottom: 5px;
}



/* --------------- Links ---------------------------------------------*/

a { 
  color: #ff9900; 
  text-decoration: none; 
}

a:hover { 
  color: #ff9900; 
  text-decoration: underline; 
}

.extlink {
  background: url(/images/ext-link.png) right no-repeat;
  margin-right: 0em;
  padding-right: 1.2em;
}

.fieldSuggestion {
  color: grey;
}
