body {
  
  font-family: "Helvetica", arial, helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5; 
}

/* --------------- IDs
---------------------------------------------*/

#header {
  height: 100px; 
  background: #b83e25;
}

#header .relative {
  padding-top: 72p;
}

#header h1 {
  position: absolute;
  top: 20px;
  right: 10px;
}

#header h1 a {
  color: #48150d;
}

#login_box {
  text-align: right;
  padding-right: 15px; 
  color: #ff9f91;
  border: solid #5c1f12;
  border-width: 0 0 0 0;
}

#login_box .links {
  padding: 5px 0;
}

#login_form {
  text-align: right;
  background: #ccc;
  background: #5c1f12;
  color: white;
}

#login_form form {
  padding: 5px 10px;
  margin: 0 10px;
}
#login_form label {
  display: inline;
  color: white;
}

#login_box a {
  color: #fff;
}

#search_box form {
  position: absolute;
  top: 25px;
  left: 10px;
  padding: 0;
  margin: 0;
}

#search_box form input {
  border: 1px solid #333;
  height: 1.5em;
  font-size: 150%;
}

#navigation {
  width: 100%;
  height: 65px;
  margin-bottom: 0; 
  position: absolute;
  top: 85px;
  background: #fff url("/images/navigation.png") top repeat-x;
}

#main { 
  margin-top: 54px;
  margin-bottom: 40px;
}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #888;
  text-align: right ;
  border: solid #111;
  border-width: 3px 0 0 0;
  padding: 5px 0;
  color: #111;
}
#footer p {
  margin: 0;
}

/* --------------- Comments
---------------------------------------------*/

#comments ul { 
  list-style: none;  
  margin: 0 0 1.5em 0;
  padding-left: 0;
}

#comments li { 
  border: solid #ddd;
  border-width: 1px 0 0 0;
  margin: 0 0 1.5em 00px;
  padding-left: 20px;
}



/* --------------- Classes
---------------------------------------------*/

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;   
  margin: 0;       
}

.clearleft {
  clear: left;
}

.clearright {
  clear: right;
}

.relative {
  position: relative;
}


/* --------------- Headers
---------------------------------------------*/

h1, h2, h3, h5, h6 {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-weight: normal;
  color: #7f2719;
}

h1 { 
  font-size: 3em; 
  line-height: 1; 
  margin-bottom: 0.5em; 
}
h2 { 
  font-size: 2em; 
  line-height: 1.5; 
  
}
h3 { 
  font-size: 1.5em; 
  line-height: 1; 
  margin-bottom: 1em; 
}
h4 { 
  font-size: 1.2em; 
  line-height: 1.25; 
  font-weight: bold;
  margin-bottom: 1.25em;
}
h5 { 
  font-size: 1em; 
  font-weight: bold; 
  margin-bottom: 1.5em; 
}
h6 { 
  font-size: 1em; 
  font-weight: bold; 
}



/* --------------- Sidebar Navigation
---------------------------------------------*/

ul.selection {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
 
ul.selection li {
  border-bottom: 1px solid #fff;
  margin: 0;
}
  
ul.selection li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #901216;
  /* border-right: 10px solid #508fc4;
  /* background-color: #2175bc; */
  color: #000;
  text-decoration: none;
  width: 100%;
}

html>body ul.selection li a,
html>body #navigation ul li a {
  width: auto;
}

ul.selection li a:hover {
  border-left: 10px solid #D41716;
  /* border-right: 10px solid #5ba3e0;
  /* background-color: #2586d7; */
  color: #D41716;
}

 
    
/* --------------- Main Navigation
---------------------------------------------*/

#navigation ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
} 

#navigation ul li {
  margin: 0;
  padding: 2px 10px 5px 0px;
  display: inline;
}

#navigation ul li a {
  
  text-decoration: none;
  color: white;
}

#navigation ul li a:hover {

} /* background-color: #901216; */


/* --------------- Forms ---------------------------------------------*/

form p { 
  margin: 0;
  margin-bottom: 0.5em;
}

label { 
  display: block; 
  font-weight: bold;
  padding: 0 0.2em; 
  color: #111;
}

textarea {
  margin-bottom: 5px;
}

.fieldSuggestion {
  color: #999;
}

/* --------------- Links ---------------------------------------------*/

a { 
  color: #3b3e60; 
  text-decoration: none; 
}

a:hover { 
  color: #ee850f; 
  text-decoration: underline; 
}

a.comment {
  font-weight: bold;
}

.extlink {
  background: url(/images/ext-link.png) right no-repeat;
  margin-right: 0em;
  padding-right: 1.2em;
}

/* --------------- Images ---------------------------------------------*/

img.gravatar {
  float: left;
  margin: 0 5px 5px 0;
}


p {
  margin: 0 0 1.5em 0;
}

ul {
  padding-left: 2em;
  list-style: square;
}
