* {
  font-family: Georgia, Times, serif;
  font-size: 16px;
}

#header {
  background: lightgreen;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
}

#navigation {
  background: yellow;
}

#main {
  background: grey;
}

#content {
  background: lightgrey;
  width: 69%;
  float: right;
  margin: 0;
}

#sidebar {
  background: lightblue;
  margin-right: 70%;
  font-size: 90%;


  border-right: 1px solid #000;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  
}

#footer {
  background: lightgreen;
}

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;   
  margin: 0;       
}

#header h1 {
  font-size: 36px;
  font-family: Helvetica;
  margin: 0;
  padding: 8px 0;
}

#content h1 {
  font-size: 24px;
  margin: 0;
}

ul.selection {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
 
ul.selection li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}
  
ul.selection li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #1958b7;
  border-right: 10px solid #508fc4;
  background-color: #2175bc;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

html>body ul.selection li a,
html>body #navigation ul li a {
  width: auto;
}

ul.selection li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  background-color: #2586d7;
  color: #fff;
}
    
#navigation ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
} 

#navigation ul li {
  margin-left: 0;
  margin-bottom: 0;
  padding: 2px 15px 5px;
  list-style: none;
  display: inline;
}

#navigation ul li a {
    padding: 0 5px 0 0.5em;
  background-color: #2175bc;
  color: #fff;

  text-decoration: none;
  width: 100%;
}

#navigation ul li a:hover {
  background-color: #2586d7;
  color: #fff;
}


