body {
  
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-size: 75%;
  line-height: 1.5; 
}

/* --------------- IDs
---------------------------------------------*/

#header {
  background: lightgreen;
  border-bottom: 1px solid black;
  margin-bottom: 0; 
}

#navigation {
  background: yellow;
  padding: 5px 0; 
}

#main {
  background: lightblue;
}

#content {
  background: lightgrey;
  border-left: 1px solid #000;
  margin-left: 300px; 
  padding: 10px; 
}

#sidebar {
  background: lightblue;
  margin: 0;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  color: #333;
  float: left;
  width: 300px; 
  
}

#footer {
  background: lightgreen;
  text-align: right ;
  padding: 5px 10px;
}
#footer p {
  margin: 0;
}



/* --------------- Classes
---------------------------------------------*/

.clear {
  clear: both;
  height: 1px;
  overflow: hidden;   
  margin: 0;       
}


/* --------------- Headers
---------------------------------------------*/

h1, h2 {
  font-family: "Helvetica Neue", arial, helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

#header h1 { margin-left: 10px;}


/* --------------- Sidebar Navigaition
---------------------------------------------*/

ul.selection {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
}
 
ul.selection li {
  border-bottom: 1px solid #90bade;
  margin: 0;
}
  
ul.selection li a {
  display: block;
  padding: 5px 5px 5px 0.5em;
  border-left: 10px solid #1958b7;
  border-right: 10px solid #508fc4;
  /* background-color: #2175bc; */
  color: #fff;
  text-decoration: none;
  width: 100%;
}

html>body ul.selection li a,
html>body #navigation ul li a {
  width: auto;
}

ul.selection li a:hover {
  border-left: 10px solid #1c64d1;
  border-right: 10px solid #5ba3e0;
  /* background-color: #2586d7; */
  color: #fff;
}

 
    
/* --------------- Main Navigation
---------------------------------------------*/

#navigation ul {
  margin: 0;
  padding: 0;
} 

#navigation ul li {
  margin-left: 0;
  margin-bottom: 0;
  padding: 2px 10px 5px;
  list-style: none;
  display: inline;
}

#navigation ul li a {
  padding: 0.6em 5px;
  color: #000;
  text-decoration: none;
  width: 100%;
  line-height: 1.5;
}

#navigation ul li a:hover {
  background-color: #2586d7;
  color: #fff;
}


/* --------------- Forms
---------------------------------------------*/

form p { 
  margin: 0;
  margin-bottom: 0.5em;
}

label { 
  display: block; 
  width: 6em; 
  font-weight: bold;
  padding: 0 0.2em; 
}


