%label{:for => "section_title"} Titel
= f.text_field :title
%br/
%label{:for => "chapter_title"} Nummer
= f.text_field :number
%br/
%label{:for => "secton_body"} Body
~ f.text_area :body, {:rows => 30, :cols => 90}