%ul
  %li
    = link_to_unless_current "Seiten", :controller => "pages", :action => "index"
  %li
    = link_to_unless_current "Kategorien", :controller => "categories", :action => "index"
  
#search_box
  - form_tag  :controller => "search", :action => "index" do 
    = text_field_tag "search"