#search_box
  - form_tag  url_for(:controller => "search", :action => "index"), :method => :get do 
    = text_field_tag "search"
.clear
%ul
  %li
    = link_to_unless_current "Seiten", :controller => "pages", :action => "index"
  // %li
  //  = link_to_unless_current "Kategorien", :controller => "categories", :action => "index"
  
