//- content_for :sidebar do
//  %ul.selection
//    %li= link_to 'Referenz', pages_path
    
%p
  Die Begleitseite zum Buch.
#referenz
  %h2 Referenz
  %p
    Eine umfassende 
    = link_to "Rails Referenz", pages_path

#errata
  %h2 Errata
  %p
    Fehler? Leider nicht zu Vermeiden... Hier geht es zu der bekannten Fehlern:
    = link_to "Errata", "#"

#source
  %h2 Source
  %p
    Aller Code, der im Buch entwickelt wird (inklusive dem Code dieser Webanwendung) finden Sie in unter: 
    = link_to 'Source', :controller => :page, :action => :source

- unless logged_in?    
  #register
    %h2 Registrieren
    %p
      Als registrierter Benutzer haben Sie folgende weiteren Vorteile:
      %ul
        %li Zugriff auf weitere Kapitel des Buches
        %li Möglichkeit Kommentare abzugeben
    %p
      = link_to 'Registrieren Sie sich', signup_path
    