%h2 Source Code
%p
  Den Source Code der 'Referenz' Anwendung finden Sie auf
  = link_to 'Github', 'http://github.com'
  Im einzelnen sind es:
  %ul
    %li 
      = link_to "Referenz 1", 'http://github.com/jcfischer/referenz1/tree/master'
      %p Einfache Einführung
    %li 
      = link_to 'Referenz 2', 'http://github.com/jcfischer/referenz2/tree/master'
      %p Der komplette Sourcecode dieser Anwendung (rails-praxis)
    %li
      = link_to 'jcfischer@github', "http://github.com/jcfischer"
      %p Weiterer Sourcecode, Plugins etc.
%p
  Wie es bei Github üblich ist, können Sie sich ganz einfach eine Kopie (einen Fork) eines der Projekte machen, und unabhängig
  von mir daran weiterarbeiten. Änderungen, die in meinen Versionen des Projektes gemacht werden, können Sie in ihre Kopie mergen.
  
