.grid_12
  %h2 Seiten Administration

  - form_tag delete_many_admin_erratas_path, :method => :delete do
    %table.admin
      %tr
        %th &nbsp;
        %th Titel
        %th von
        %th Datum
        %th State
        %th Löschen
      = render :partial => 'errata', :collection => current_objects
  
    = will_paginate @current_objects
    = submit_tag "Löschen"