.grid_12
  %h2 Errata

  - form_tag delete_many_admin_pages_path, :method => :delete do
    %table.admin
      %tr
        %th Titel
        %th von
        %th Datum
      = render :partial => 'errata', :collection => current_objects
  
    = will_paginate @current_objects
    = link_to "Neue Errata", new_errata_path