.grid_12
  %h2 Errata

  - form_tag delete_many_admin_pages_path, :method => :delete do
    %table.admin
      %tr
        %th Seite
        %th Beschreibung
        %th von
        %th Datum
      = render :partial => 'errata', :collection => current_objects
  
    = will_paginate @current_objects
    - if logged_in?
      = link_to "Errata erfassen", new_errata_path
    - else
      = link_to 'Registrieren um Errata zu erfassen', signup_path